.receipt-container{
    background-color: white;
    margin-top: 1rem;
    width: 50%;
    margin-left: 25%;
}

.receipt-container>h1{
    margin-left: 35%;
}

.details{
    margin-left: 30%;
}

.total{
    margin-left: 70%;
}