@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: rgb(179, 242, 205);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}